.depth-0-frame-0 .image {
  border-radius: 12px;
  background: url('../assets/images/image.png') 50% / cover no-repeat;
  margin-right: 16px;
  width: 128px;
  height: 171px;
}
.depth-0-frame-0 .andy-liu {
  overflow-wrap: break-word;
  font-family: 'Plus Jakarta Sans';
  font-weight: 700;
  font-size: 22px;
  line-height: 1.273;
  color: #121417;
}
.depth-0-frame-0 .depth-8-frame-0 {
  display: flex;
  align-self: flex-start;
  box-sizing: border-box;
}
.depth-0-frame-0 .backend-developer {
  overflow-wrap: break-word;
  font-family: 'Plus Jakarta Sans';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #617A8A;
}
.depth-0-frame-0 .depth-8-frame-1 {
  display: flex;
  box-sizing: border-box;
}
.depth-0-frame-0 .depth-7-frame-1 {
  margin-bottom: 119px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.depth-0-frame-0 .depth-4-frame-0 {
  margin: 0 633.6px 36px 0;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.depth-0-frame-0 .about {
  overflow-wrap: break-word;
  font-family: 'Plus Jakarta Sans';
  font-weight: 700;
  font-size: 22px;
  line-height: 1.273;
  color: #121417;
}
.depth-0-frame-0 .depth-4-frame-1 {
  margin: 0 861.1px 16px 0;
  display: flex;
  box-sizing: border-box;
}
.depth-0-frame-0 .iam-abackend-developer-with-more-than-ten-years-of-experience-ihave-worked-in-companies-like-google-and-facebook-iam-currently-working-on-ablockchain-project-iam-passionate-about-technology-and-iam-always-learning-new-things {
  margin-left: 180px;
  overflow-wrap: break-word;
  font-family: 'Plus Jakarta Sans';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #121417;
}
.depth-0-frame-0 .depth-4-frame-2 {
  margin: 0 14.6px 32px 0;
  display: flex;
  box-sizing: border-box;
}
.depth-0-frame-0 .ultimate-goal {
  overflow-wrap: break-word;
  font-family: 'Plus Jakarta Sans';
  font-weight: 700;
  font-size: 22px;
  line-height: 1.273;
  color: #121417;
}
.depth-0-frame-0 .depth-4-frame-5 {
  margin: 0 782.4px 16px 0;
  display: flex;
  box-sizing: border-box;
}
.depth-0-frame-0 .my-development-philosophy-is-to-write-clean-and-efficient-code-ibelieve-that-code-should-be-easy-to-read-and-understand-ialso-believe-in-the-importance-of-unit-testing-and-continuous-integration {
  margin-left: 180px;
  overflow-wrap: break-word;
  font-family: 'Plus Jakarta Sans';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #121417;
}
.depth-0-frame-0 .depth-4-frame-6 {
  margin: 0 2.3px 32px 0;
  display: flex;
  box-sizing: border-box;
}
.depth-0-frame-0 .strong-point {
  overflow-wrap: break-word;
  font-family: 'Plus Jakarta Sans';
  font-weight: 700;
  font-size: 22px;
  line-height: 1.273;
  color: #121417;
}
.depth-0-frame-0 .depth-4-frame-10 {
  margin: 0 795px 16px 0;
  display: flex;
  box-sizing: border-box;
}
.depth-0-frame-0 .my-development-philosophy-is-to-write-clean-and-efficient-code-ibelieve-that-code-should-be-easy-to-read-and-understand-ialso-believe-in-the-importance-of-unit-testing-and-continuous-integration-1 {
  margin-left: 180px;
  overflow-wrap: break-word;
  font-family: 'Plus Jakarta Sans';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #121417;
}
.depth-0-frame-0 .depth-4-frame-11 {
  margin: 0 2.3px 32px 0;
  display: flex;
  box-sizing: border-box;
}
.depth-0-frame-0 .contact {
  overflow-wrap: break-word;
  font-family: 'Plus Jakarta Sans';
  font-weight: 700;
  font-size: 22px;
  line-height: 1.273;
  color: #121417;
}
.depth-0-frame-0 .depth-4-frame-7 {
  margin: 0 839.6px 12px 0;
  display: flex;
  box-sizing: border-box;
}
.depth-0-frame-0 .git-hub {
  background: url('../assets/images/git_hub.png') 50% / contain no-repeat;
  margin-right: 6px;
  width: 46px;
  height: 46px;
}
.depth-0-frame-0 .git-hub-1 {
  overflow-wrap: break-word;
  font-family: 'Plus Jakarta Sans';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #121417;
}
.depth-0-frame-0 .depth-6-frame-0 {
  display: flex;
  align-self: flex-start;
  box-sizing: border-box;
}
.depth-0-frame-0 .andy-liugmail-com {
  overflow-wrap: break-word;
  font-family: 'Plus Jakarta Sans';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: #617A8A;
}
.depth-0-frame-0 .depth-6-frame-1 {
  display: flex;
  box-sizing: border-box;
}
.depth-0-frame-0 .depth-5-frame-1 {
  margin: 0.5px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.depth-0-frame-0 .container {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.depth-0-frame-0 .mbti {
  margin: 2px 6px 2px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Plus Jakarta Sans';
  font-weight: 700;
  font-size: 22px;
  line-height: 1.273;
  color: #121417;
}
.depth-0-frame-0 .intj {
  overflow-wrap: break-word;
  font-family: 'Plus Jakarta Sans';
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  color: #121417;
}
.depth-0-frame-0 .depth-5-frame-0 {
  border-radius: 16px;
  background: #F0F2F5;
  display: flex;
  padding: 5.5px 0;
  width: 112px;
  box-sizing: border-box;
}
.depth-0-frame-0 .container-1 {
  margin: 7px 0;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.depth-0-frame-0 .depth-4-frame-8 {
  background: #FFFFFF;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 13px 22px 13px 17px;
  width: 960px;
  box-sizing: border-box;
}
.depth-0-frame-0 .vector {
  background: url(../assets/images/blog.png) 100%; 
  /* background-size: contain; */
  width: 31px;
  height: 36px;
}
.depth-0-frame-0 .chat {
  margin: 4.2px 15.2px 4.2px 0;
  display: flex;
  width: 38px;
  height: 44px;
  box-sizing: border-box;
}
.depth-0-frame-0 .blog {
  overflow-wrap: break-word;
  font-family: 'Plus Jakarta Sans';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #121417;
}
.depth-0-frame-0 .depth-6-frame-01 {
  display: flex;
  align-self: flex-start;
  box-sizing: border-box;
}
.depth-0-frame-0 .andy-liugmail-com-1 {
  overflow-wrap: break-word;
  font-family: 'Plus Jakarta Sans';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: #617A8A;
}
.depth-0-frame-0 .depth-6-frame-11 {
  display: flex;
  box-sizing: border-box;
}
.depth-0-frame-0 .depth-5-frame-11 {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.depth-0-frame-0 .depth-4-frame-9 {
  background: #FFFFFF;
  display: flex;
  flex-direction: row;
  padding: 13.5px 0 13.5px 24.2px;
  width: 960px;
  box-sizing: border-box;
}
.depth-0-frame-0 {
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 36px 0 10px 0;
  width: 1280px;
  box-sizing: border-box;
}
