<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Depth 0, Frame 0</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/details.css" />
    <style>
      .depth-5-frame-0 > span{
        margin-left: 43px;
        text-align: center;
      }
    </style>
  </head>

  <body>
    <div class="depth-0-frame-0">
      <div class="depth-4-frame-0">
        <div class="image">
        </div>
        <div class="depth-7-frame-1">
          <div class="depth-8-frame-0">
            <span class="andy-liu">
            Andy Liu
            </span>
          </div>
          <div class="depth-8-frame-1">
            <span class="backend-developer">
            Backend Developer
            </span>
          </div>
        </div>
      </div>
      <div class="depth-4-frame-1">
        <span class="about">
        About
        </span>
      </div>
      <div class="depth-4-frame-2">
        <span class="iam-abackend-developer-with-more-than-ten-years-of-experience-ihave-worked-in-companies-like-google-and-facebook-iam-currently-working-on-ablockchain-project-iam-passionate-about-technology-and-iam-always-learning-new-things">
        I am a backend developer with more than ten years of experience. I have worked in companies like Google and Facebook. I am currently working on a blockchain project. I am passionate about technology and I am always learning new things.
        </span>
      </div>
      <div class="depth-4-frame-5">
        <span class="ultimate-goal">
        Ultimate Goal
        </span>
      </div>
      <div class="depth-4-frame-6">
        <span class="my-development-philosophy-is-to-write-clean-and-efficient-code-ibelieve-that-code-should-be-easy-to-read-and-understand-ialso-believe-in-the-importance-of-unit-testing-and-continuous-integration">
        My development philosophy is to write clean and efficient code. I believe that code should be easy to read and understand. I also believe in the importance of unit testing and continuous integration.
        </span>
      </div>
      <div class="depth-4-frame-10">
        <span class="strong-point">
        Strong Point
        </span>
      </div>
      <div class="depth-4-frame-11">
        <span class="my-development-philosophy-is-to-write-clean-and-efficient-code-ibelieve-that-code-should-be-easy-to-read-and-understand-ialso-believe-in-the-importance-of-unit-testing-and-continuous-integration-1">
        My development philosophy is to write clean and efficient code. I believe that code should be easy to read and understand. I also believe in the importance of unit testing and continuous integration.
        </span>
      </div>
      <div class="depth-4-frame-7">
        <span class="contact">
        Contact
        </span>
      </div>
      <div class="depth-4-frame-8">
        <div class="container">
          <div class="git-hub">
          </div>
          <div class="depth-5-frame-1">
            <div class="depth-6-frame-0">
              <span class="git-hub-1">
              GitHub
              </span>
            </div>
            <div class="depth-6-frame-1">
              <span class="andy-liugmail-com">
              andy.liu@gmail.com
              </span>
            </div>
          </div>
        </div>
        <div class="container-1">
          <div class="mbti">
          MBTI : 
          </div>
          <div class="depth-5-frame-0">
            <span class="intj">
            INTJ
            </span>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>